@use 'reset';

video {
  width: 100%;
}

.w-md-editor-text-input,
.w-md-editor-text-pre > code,
.w-md-editor-text-pre > code > span,
.w-md-editor-text-pre {
  font-family: 'Roboto' !important;
  font-size: 1.2rem !important;
  line-height: 1.5rem !important;
}

.w-md-editor {
  --md-editor-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial,
    sans-serif !important;
}
  button {
  background: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: black;

}
